// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.movie-category {
  background-color: white;
  // background-image: asset_url("gr-stocks-q8P8YoR6erg-unsplash.png");
  // background-size: cover;
  height: 100px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  text-decoration: none;
  text-align: center;
  text-justify: auto;
  padding-top: 35px;
  margin: 16px;
}

.movie-category:hover {
  opacity: 0.8;
}

.movie-category a {
  text-decoration: none;
  color:black;

}

.movie {
  background-color:#986042;
  height: auto;
  width: 350px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  text-decoration: none;
  text-align: center;
  text-justify: auto;
  padding: 16px;
  margin: 16px;
  border-radius: 4px;
}
.movie:hover {
  opacity: 0.8;
}

.movie a {
  text-decoration: none;
  color:black;

}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.btn{
  background-color: grey;
  border-radius: 2px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin: 16px;
}
.btn a {
  text-decoration: none;
  color:black;
}

.movie p {
  font-size: smaller;
}

.comment {
  padding: 10px;
  border-top: thin solid grey;
  border-bottom: black;
}
